.info{
    width: 200px;
    font-size:16px;
    border:5px;
    border-radius:20px;
    border-color:rgb(184, 0, 0);
    background-color:grey;
}

.name{
    font-size:10px;
}
.releaseDate{
    font-size:8px
}
.manufacturer{
    font-size:8px;
}
.rating{
    font-size:8px;
}
#posterArea{
    background-color: grey;
    margin:1px;
}

h1{
    font-size:large;
    font-style:oblique;
    font-family:Georgia;
    color:crimson
}