.card-body{
    background-color: white;
}

.header-style {
    text-indent: 10%;   /*Separates text from image*/
}

.welcome-banner{
    background-image: url("./images/banner.jpg");
    /*opacity: ;*/
}