/* details-page.css */

#gameTitle{
  font-size: 80px;
  text-align: center;
}

.main-data {
    padding: 50px;
    background-color: #f7f7f7; /* Set the background color */
    min-height: calc(100vh - 150px); /* Calculate the minimum height of the section (viewport height minus header and footer) */
    margin: 15px;
    border: 3px solid #000;
    border-radius: 10px;
}

#image {
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin: 8px auto;
}

.premise-text{
    font-size: x-large;
}

#details {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px; /* Add some padding for better visibility */
    font-size: large;
  }

  #comments-header{
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
  }

  #comments{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 80px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 10px;
  }
